@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");

:root {
  /*dark grey*/
  --mainColor: #384454;
  /*light grey*/
  --secondaryColor: #d4d3dc;
  /*GOLD */
  --tertiaryColor: #e1a624;
  /*light blue*/
  --MenuBGColor: #317ac1;
  /* light brown */
  --lightBrown: #ad956b;
}

* {
  font-family: "Lemon", cursive;
  font-size: 16px;
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.clickerPlace {
  width: 60%;
  background: no-repeat url("./Assets/BackgroundDesktop.png");
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shopPlaceAndStats {
  background-color: var(--mainColor);
  width: 40%;
}

.pickaxeAndRock{
    height: 70%;
    display: flex;
}
.pickaxeRoc{
    height: 50%;
}
@media screen and (max-width: 600px) {
  .clickerPlace {
    width: 100%;
    background: no-repeat url("./Assets/BackgroundTwo.png");
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .shopPlaceAndStats{
    display: none;
  }
}